.popup {
  display: flex;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all linear 0.2s;
  z-index: 3;
  align-items: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
}