.profile__add-button {
  display: flex;
  width: 150px;
  border: 2px solid #fff;
  align-self: center;
  align-items: center;
  height: 50px;
  justify-content: center;
  background: url(../../../images/button/add-button.svg) no-repeat transparent center;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;

}

@media screen and (max-width: 1000px) {
  .profile__add-button {
    width: 282px;
    margin: 0;
    position: relative;
  }
}